<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDKCPP-CognitoIdentityProvider" version="1.6.20160418.25" targetFramework="native" />
  <package id="AWSSDKCPP-CognitoIdentityProvider.redist" version="1.6.20160418.25" targetFramework="native" />
  <package id="AWSSDKCPP-Core" version="1.6.25" targetFramework="native" />
  <package id="AWSSDKCPP-Core.redist" version="1.6.25" targetFramework="native" />
</packages>